::-webkit-input-placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

::placeholder {
    color: #999;
}

.form {
    background: #ddd;
    margin: 32px 0px;
    padding: 32px 64px;
    position: relative;
    margin-bottom: 256px;
}

.form::before {
    content: "";
    position: absolute;
    right: -24px;
    top: -24px;
    width: 48px;
    height: 128px;
    background: #444;
    z-index: 2;
}

.form::after {
    content: "";
    position: absolute;
    right: -24px;
    top: -24px;
    width: 256px;
    height: 48px;
    background: #444;
}

.input-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
}

.input-box {
    position: relative;
}

.input-box:nth-child(1){
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.input-box:nth-child(2){
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

.input-box input {
    width: calc(100% - 16px);
}

.input-box .border-bottom-background {
    position: absolute;
    left: 8px;
    bottom: 8px;
    right: 8px;
    height: 2px;
    background: #999;
}

.input-box .border-bottom {
    position: absolute;
    left: 8px;
    bottom: 8px;
    right: 8px;
    height: 2px;
    background: #222;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 3;
}

.input-box input:focus + .border-bottom,
.input-box textarea:focus + .border-bottom {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

input {
    margin: 8px;
    padding: 8px 16px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #999;
    outline: none;
    font-size: .5em;
}

input[type="submit"] {
    border: 2px solid #999;
    color: #999;
    cursor: pointer;
}

input[type="submit"]:hover {
    border: 2px solid #333;
    background: #333;
    color: #fdfdfd;
}

input[type="submit"]:active {
    border: 2px solid #000;
    background: #000;
}

textarea {
    width: calc(100% - 16px);
    height: calc(1em + 22px);
    padding: 8px 16px;
    margin: 8px;
    -webkit-transition: height .4s ease-in-out;
    transition: height .4s ease-in-out;
    border: none;
    background: transparent;
    outline: none;
    resize: none;
    font-size: .5em;
}

textarea:focus {
    height: 30vh;
}

textarea:not(:focus)::-webkit-scrollbar {
    display: none;
}

.contact {
    background: #ddd;
    margin: 32px 0px;
    padding: 64px 128px;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50px 32px auto;
    grid-template-columns: 50px auto;
    grid-row-gap: 32px;
}

.contact::before {
    content: "";
    position: absolute;
    left: -24px;
    top: -24px;
    width: 48px;
    height: 128px;
    background: #444;
    z-index: 2;
}

.contact::after {
    content: "";
    position: absolute;
    left: -24px;
    top: -24px;
    width: 256px;
    height: 48px;
    background: #444;
}

.contact div:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.contact div:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}

.contact div:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

.contact div:nth-child(4) {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
}

.contact div:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

.contact div:nth-child(6) {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
}

.contact div:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
}

.contact div:nth-child(8) {
    -ms-grid-column: 3;
    -ms-grid-row: 4;
}

.text-right {
    text-align: right;
}

@media (max-width:993px) {

    .contact {
        grid-template-columns: 100%;
        text-align: center;
        padding: 32px 0px;
    }

    .input-grid {
        grid-template-columns: 100%;
    }

    .form {
        margin-bottom: 128px;
    }

    .text-right {
        text-align: center;
    }

    .form,
    .contact {
        font-size: .75em;
    }

    .form::before,
    .form::after {
        right: -8px;
        top: -8px;
    }

    .contact::before,
    .contact::after {
        left: -8px;
        top: -8px;
    }

    .form::before,
    .contact::before {
        width: 16px;
    }

    .form::after,
    .contact::after {
        height: 16px;
    }
}
