.box {
    position: relative;
}

.box .year {
    position: relative;
    font-size: 0.75em;
    padding: 32px;
    text-align: center;
    background: #fdfdfd;
    z-index: 2;
}


@supports ((position: -webkit-sticky) or (position: sticky)) {
    .box .year {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}

    .box .year::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 90%;
        height: 1px;
        background: #ddd;

    }

.box .stuff {
    margin: 5vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

.box .stuff .color {
    margin-bottom: 6px;
    position: relative;
    background-size: auto 100%;
    -webkit-transition: background-size .3s ease-in-out;
    transition: background-size .3s ease-in-out;
    background-position: center;
    cursor: pointer;
}

.box .stuff .color:hover {
    background-size: auto 110%;
}

.box .stuff .color::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.box .stuff .cell {
    margin: 6px;
    margin-bottom: 12px;
}

.box .stuff .cell:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.box .stuff .cell:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

.box .stuff .cell:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}

.box .stuff .cell:nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-row: 1;
}

.box .stuff .cell:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

.box .stuff .cell:nth-child(6) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
}

.box .stuff .cell:nth-child(7) {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
}

.box .stuff .cell:nth-child(8) {
    -ms-grid-column: 4;
    -ms-grid-row: 2;
}

.box .stuff .cell:nth-child(9) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}



.box .stuff .cell:nth-child(1) .color {
    background-image: url("../img/slide1.jpg");
}

.box .stuff .cell:nth-child(2) .color {
    background-image: url("../img/slide2.jpg");
}

.box .stuff .cell:nth-child(3) .color,
.box .stuff .cell:nth-child(9) .color {
    background-image: url("../img/slide3.jpg");
}

.box .stuff .cell:nth-child(4) .color {
    background-image: url("../img/slide4.jpg");
}

.box .stuff .cell:nth-child(5) .color,
.box .stuff .cell:nth-child(11) .color {
    background-image: url("../img/slide5.jpg");
}

.box .stuff .cell:nth-child(6) .color {
    background-image: url("../img/slide6.jpg");
}

.box .stuff .cell:nth-child(7) .color,
.box .stuff .cell:nth-child(10) .color {
    background-image: url("../img/slide7.jpg");
}

.box .stuff .cell:nth-child(8) .color {
    background-image: url("../img/slide8.jpg");
}

.box .stuff .text {
    position: relative;
    font-size: .5em;
    margin: 6px;
}

@media (max-width:993px) {

    .box .stuff {
        margin: 5vw;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    }

    .box .stuff .cell:nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }

    .box .stuff .cell:nth-child(2) {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
    }

    .box .stuff .cell:nth-child(3) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
    }

    .box .stuff .cell:nth-child(4) {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
    }

    .box .stuff .cell:nth-child(5) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
    }

    .box .stuff .cell:nth-child(6) {
        -ms-grid-column: 2;
        -ms-grid-row: 3;
    }

    .box .stuff .cell:nth-child(7) {
        -ms-grid-column: 1;
        -ms-grid-row: 4;
    }

    .box .stuff .cell:nth-child(8) {
        -ms-grid-column: 2;
        -ms-grid-row: 4;
    }

    .box .stuff .cell:nth-child(9) {
        -ms-grid-column: 1;
        -ms-grid-row: 5;
    }
}

@media (max-width:380px) {

    .box .stuff {
        margin: 5vw;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    }

    .box .stuff .cell:nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }

    .box .stuff .cell:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
    }

    .box .stuff .cell:nth-child(3) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
    }

    .box .stuff .cell:nth-child(4) {
        -ms-grid-column: 1;
        -ms-grid-row: 4;
    }

    .box .stuff .cell:nth-child(5) {
        -ms-grid-column: 1;
        -ms-grid-row: 5;
    }

    .box .stuff .cell:nth-child(6) {
        -ms-grid-column: 1;
        -ms-grid-row: 6;
    }

    .box .stuff .cell:nth-child(7) {
        -ms-grid-column: 1;
        -ms-grid-row: 7;
    }

    .box .stuff .cell:nth-child(8) {
        -ms-grid-column: 1;
        -ms-grid-row: 8;
    }

    .box .stuff .cell:nth-child(9) {
        -ms-grid-column: 1;
        -ms-grid-row: 9;
    }
}
