@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(slideshow.css);

/* RESET SECTION */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    height: 100%;
    background: #fdfdfd;
    position: relative;
    color: #333;
    overflow: hidden;
}

a {
    cursor: pointer;
}


/* PRELOADER SECTION */

#preloader {
    position: fixed;
    top: 0;
    left: -20%;
    right: -20%;
    bottom: 0;
    background: #000;
    z-index: 999;
    -webkit-transition: -webkit-transform .7s ease-out;
    transition: -webkit-transform .7s ease-out;
    transition: transform .7s ease-out;
    transition: transform .7s ease-out, -webkit-transform .7s ease-out;
    -webkit-clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
}

#preloader.fuccoff {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

#preloader .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

#preloader .center::after {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 4px;
    background: repeating-linear-gradient( 45deg,
    #333,
    #333 10px,
    #222 10px,
    #222 20px);
    background-attachment: fixed;
    border-radius: 99px;
    -webkit-animation: loading 2s infinite ease-in-out;
    animation: loading 2s infinite ease-in-out;
}

@-webkit-keyframes loading {
    0% {
        left: 0%;
        right: 100%;
    }

    40% {
        left: 0%;
        right: 0%;
    }

    80%,
    100% {
        left: 100%;
        right: 0%;
    }
}

@keyframes loading {
    0% {
        left: 0%;
        right: 100%;
    }

    40% {
        left: 0%;
        right: 0%;
    }

    80%,
    100% {
        left: 100%;
        right: 0%;
    }
}

/* CONTAINER SECTION */

.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
}

/* TOP SECTION */

.top-left,
#top-right .info-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    width: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    background: #222;
    color: #fdfdfd;
    font-size: 2em;
    cursor: pointer;
}

#top-right {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, .9);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform .7s ease-in-out;
    transition: -webkit-transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
    z-index: 9;
}

#top-right.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

#top-right .info-icon {
    position: absolute;
    top: 0;
    right: 100%;
    background: #222;
    color: #fdfdfd;
    font-size: 2em;
    cursor: pointer;
}

.fa-info {
    padding: 0px .25em;
}

.lol {
    display: none
}

.dot {
    margin: 6px;
}

.info-content {
    height: 100vh;
    padding: 64px 128px;
    overflow-y: auto;
}

.info-content h1 {
    text-align: center;
    margin-bottom: 32px;
}

.info-content p {
    text-align: left;
    line-height: 1.5em;
    margin-bottom: 16px;
}


@media (max-width:993px) {

    #preloader {
        font-size: .5em;
        padding: 0;
    }

    .dots {
        display: none;
    }

    .top-left,
    #top-right .info-icon {
        font-size: 1em;
    }

    .info-content {
        padding: 8px 16px;
        font-size: .75em;
    }

    .top-left,
    #top-right .info-icon {
        height: 40px;
        width: 40px;
    }
}