.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-transition: -webkit-transform 1s ease-out;
    transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out;
    transition: transform 1s ease-out, -webkit-transform 1s ease-out;
    will-change: transform, -webkit-transform;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.slide {
    padding: 64px;
    height: 100%;
    width: 100%;
    float: left;
    background-size: cover;
    position: relative;
    text-align: center;
}

.slide:nth-child(1) {
    background-image: url(../img/slide1.jpg);
    background-position: left;
}

.slide:nth-child(2) {
    background-image: url(../img/slide2.jpg);
    background-position: center;
}

.slide:nth-child(3) {
    background-image: url(../img/slide3.jpg);
    background-position: left;
}

.slide:nth-child(4) {
    background-image: url(../img/slide4.jpg);
    background-position: left;
}

.slide:nth-child(5) {
    background-image: url(../img/slide5.jpg);
}

.slide-text {
    font-size: .75em;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.slide-text * {
    margin: 32px 0px;
    color: #fdfdfd;

}

.slide-text a {
    text-decoration: none;
    padding: 16px;
    border: 2px solid #fdfdfd;
    pointer-events: all;
}

.slide-text a:hover {
    background: #fdfdfd;
    color: #222;
}

.dots {
    position: absolute;
    bottom: 32px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    background: #f1f1f1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    cursor: pointer;
}

.dot::after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 1px solid #f1f1f1;
    -webkit-transition: top .2s ease-in-out,
    bottom .2s ease-in-out,
    left .2s ease-in-out,
    right .2s ease-in-out;
    transition: top .2s ease-in-out,
    bottom .2s ease-in-out,
    left .2s ease-in-out,
    right .2s ease-in-out;
    will-change: top, bottom, left, right;
}

.dot.active::after {
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
}

.arrow-left-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    cursor: pointer;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(241, 241, 241, .3)), color-stop(50%, rgba(241, 241, 241, 0)));
    background-image: linear-gradient(to right, rgba(241, 241, 241, .3) 50%, rgba(241, 241, 241, 0) 50%);
    background-size: 200%;
    background-position: 100%;
    -webkit-transition: background-position .2s ease-in-out;
    transition: background-position .2s ease-in-out;
    will-change: background-position;
}

.arrow-left-box:hover {
    background-position: 0%;
}

.arrow-left {
    position: absolute;
    top: 50%;
    left: 32px;
    height: 32px;
    width: 32px;
    border: solid #f1f1f1;
    border-width: 0px 0px 4px 4px;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

.arrow-right-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    cursor: pointer;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(241, 241, 241, 0)), color-stop(50%, rgba(241, 241, 241, .3)));
    background-image: linear-gradient(to right, rgba(241, 241, 241, 0) 50%, rgba(241, 241, 241, .3) 50%);
    background-size: 200%;
    background-position: 0%;
    -webkit-transition: background-position .2s ease-in-out;
    transition: background-position .2s ease-in-out;
    will-change: background-position;
}

.arrow-right-box:hover {
    background-position: 100%;
}

.arrow-right {
    position: absolute;
    top: 50%;
    right: 32px;
    height: 32px;
    width: 32px;
    border: solid #f1f1f1;
    border-width: 4px 4px 0px 0px;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

@media (max-width:993px) {

    .arrow-left,
    .arrow-right {
        height: 16px;
        width: 16px;
    }

    .arrow-left {
        left: 16px;
    }

    .arrow-right {
        right: 16px;
    }

    .arrow-left-box,
    .arrow-right-box {
        width: 40px;
    }
}
